
<h2> PointED Classrooms </h2>


<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column center aligned">
    <h1>Lets created a class!</h1>
    <%= form_for @classroom do |f| %>

    <div class="ui massive form">
      <div class="inline field">
        <label>We will call the class:</label>
        <%= f.text_field :name, :class => 'inline field', placeholder: "Genius name here" %>
      </div>



    <h2> It will be taught by <small>Select your name </small></h2>


    <%= f.select(:teacher_id,
        options_for_select(@teacher_list),
        :class => 'ui search dropdown',
        placeholder: "Select the teacher" )
    %>
    <div class="ui divider"> </div>
    <%= f.submit :class => 'ui massive button' %>
    <% end %>
  </div>
  <div class="four wide column"></div>
