
<!-- Name & Photo -->
  <% if @student.avatar? %>
  <%= image_tag(@student.avatar.url, :class => "ui medium centered circular image", :style => 'height: 14rem; width: 14rem;') %>
  <% end %>
  <h1 class="ui header center aligned"><%= @student.first_name %> <%= @student.last_name %></h1>
  <div class="ui divider"></div>
<!-- Skill Levels and Progress -->
  <div class="ui four column centered grid">
    <%= render 'student_skill_level_status' %>
  <div>
