<div class="ui container center alinged">
  <h1 class="ui header center aligned"> Create New Student</h1>
    <div class="ui raised segment">
      <div class="ui form center aligned">
        <%= render 'form' %>
      </div>
    </div>
</div>
