<div class="ui container">
	<h1 class="ui header center aligned"> Show Student </h1>
		<div class="ui segment">
			
				<%= @student.first_name %> <%= @student.last_name %>
				<%= @student.gender %>

	
		</div>
</div>