<h1 class="ui header center aligned">Skill Overview</h1>
<%= link_to "Return to Subjects", subjects_path, :class => 'ui inverted green button' %>

    <div class="ui two column center aligned grid">
      <% @subject.each do |subject|  %>
      <div class="column">
        <h2> <%= subject.name.capitalize %> </h2>
        <div class="ui three column grid">
          <% @skill.where(subject_id: subject.id).each do |skill|%>
          <div class="column" style="background-color:#{skill.color}">

            <%= link_to skill.name.capitalize, skill_path(skill), :class => "ui #{skill.color} fluid basic black button" %>

            </div>
           <% end %>
        </div>
      </div>
      <% end %>

    </div>
