<h1>Showing Skills new</h1>
  <%= form_for @skill do |f| %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>

<%= link_to "Return to Subjects", subjects_path, :class => 'ui green inverted button' %>
