<div class="ui container">
  <div class="ui container center aligned">
    <%= image_tag('pentland_landing_logo.png') %>
  </div>
    <h1 class="ui header center aligned">PointED Assessment Portal</h1>
      <div class="ui divider"></div>
        <div class="ui segment">
<!-- Left Rail Content Starts here -->
          <div class="ui left rail">
            <div class="ui segment">
    

            </div>
          </div>
<!-- Right Rail Content Starts here -->
          <div class="ui right dividing rail">
            <div class="ui segment">
              Right Rail Content
            </div>
          </div>
          <div class="ui container center aligned">
            <%= link_to 'Classrooms', classrooms_path, :class => 'ui massive green button' %>
            <div class="ui massive green button">Student Progress</div>
            <div class="ui massive green button">Levels</div>
          </div>
          <p></p>
        </div>
</div>
