<div class="ui container">
  <div class="ui container center aligned">
    <%= image_tag('pentland_landing_logo.png') %>
  </div>
    <h1 class="ui header center aligned">PointED Assessment Portal</h1>
      <div class="ui divider"></div>
        <div class="ui segment">
<!-- Left Rail Content Starts here -->
          <div class="ui left rail">
            <div class="ui segment">


            </div>
          </div>
<!-- Right Rail Content Starts here -->
          <div class="ui right dividing rail">
            <div class="ui segment">
            
            </div>
          </div>
          <div class="ui container center aligned">
            <%= link_to 'Classrooms', classrooms_path, :class => 'ui massive green button' %>
            <% if teacher_signed_in? && current_teacher.admin? %>
            <%= link_to 'Student Progress', students_path, :class => 'ui massive green button' %>
            <% end %>
            <%= link_to 'Subjects & Levels', subjects_path, :class => 'ui massive green button' %>
          </div>
          <p></p>
        </div>
</div>
