<div class="ui container">
  <h1 class="ui header center aligned">

    Showing <%= @subjects.name %> </h1>
    <table>
      <th> <%= @subjects.name %> Skills </th>
        <% @skills.each do |skills| %>
          <tr><%= skills.name %></tr>
        <% end %>
    </table>
  <%= link_to 'Return', subjects_path, :class => 'ui green inverted button' %>
</div>
